name: Scrap
on: 
  push:
    branches: master
  schedule:
  - cron: '0 11,15 * * *'
  - cron: '41 12 * * *'
    
  workflow_dispatch:
env:
  github_id: ${{secrets.GITHUB_TOKEN}}
jobs:
  run-python:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.1.3'
      - name: Setup Renv
        uses: r-lib/actions/setup-renv@v2  
        
      - name: Install Packages R
        run: |
          Rscript -e 'install.packages(c("pak", "rsconnect", "DT", "DBI", "R6", "RColorBrewer", "RSelenium", "Rcpp", "assertthat", "backports", "base64enc", "binman"), repos="https://cran.rstudio.com")'
          
      - name: Run Python Script
        run: |
          python  -m pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org selenium
          python  -m pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org bs4
          python  -m pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org pandas
          python  -m pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org requests
          
      - name: Run Install R Packages
        run: |
          Rscript -e deployatt.R

          
