name: Scrap
on: 
  push:
    branches: master
  schedule:
  - cron: '0 11,15 * * *'
  - cron: '41 12 * * *'
    
  workflow_dispatch:
jobs:
  run-python:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.1.3'

      - name: Run Python Script
        run: |
          python  -m pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org selenium
          python  -m pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org bs4
          python att.py

          
